[submodule "TabOverlayCommon"]
	path = TabOverlayCommon
	url = https://github.com/PrinceBunBun981/TabOverlayCommon.git
[submodule "minecraft-data-api"]
	path = minecraft-data-api
	url = https://github.com/PrinceBunBun981/minecraft-data-api.git
